@model Supermarked.Models.Varegruppe

@{
    ViewBag.Title = "Slet Varegruppe";
}

<h2>Slet Varegruppe</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Betegnelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Betegnelse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", new { }, new { @class="btn btn-primary" })
            <input type="submit" value="Slet" class="btn btn-danger" />
        </div>
    }
</div>
