@model Supermarked.Models.Varegruppe

@{
    ViewBag.Title = "Info om Varegruppe";
}

<h2>Info om Varegruppe</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Betegnelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Betegnelse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Varegrupper", "Index", new { }, new { @class="btn btn-primary" })
    @Html.ActionLink("Ret", "Edit", new { id = Model.VaregruppeId }, new { @class="btn btn-info" })
</p>
