@{
    ViewBag.Title = "Home Page";
}

<section class="cover">
    
</section>

<section class="kategorier">
        <div class="card">
            <a href="~/Vare">
                <h2>Tekstil</h2>
                <img src="~/Content/images/t-shirt-512x512.png" alt="T-Shirt" />
            </a>
        </div>
        <div class="card">
            <a href="~/Vare">
                <h2>Fødevarer</h2>
                <img src="~/Content/images/steak-512x512.png" alt="Fødevarer" />
            </a>
        </div>
        <div class="card">
            <a href="~/Vare">
                <h2>Elektronik</h2>
                <img src="~/Content/images/pc-computer-with-monitor-512x512.png" alt="Elektronic" />
            </a>
        </div>
        <div class="card">
            <a href="~/Vare">
                <h2>Bolig</h2>
                <img src="~/Content/images/vintage-armchair-512x512.png" alt="Bolig" />
            </a>
        </div>
</section>